<div class="card">
  <div class="card__image">
    <img [src]="character.image" [alt]="character.name">
  </div>
  <div class="card__content">
    <h2>{{ character.name }}</h2>
    <div class="card__content__status">
      <div class="card__content__status--icon" [ngClass]="{
          'alive': (character.status | uppercase) === 'ALIVE',
          'dead': (character.status | uppercase)  === 'DEAD',
          'unknown': (character.status | uppercase)  === 'UNKNOWN'
        }"></div>
      <h3>
        {{ ('FIELD_STATUS.' + character.status | uppercase) | translate }} - {{ character.species }}
      </h3>
    </div>
    <div class="card__content__location">
      <span class="color-gray">{{ 'CARD.KNOW_LOCATION' | translate }}:</span>
      <h3>{{ character.location.name }}</h3>
    </div>
    <span class="color-gray">{{ 'CARD.FIRST_SEE' | translate }}:</span>
    <h3>{{ character.lastEpisodeName }}</h3>
  </div>
</div>
